.report-body {
    display: flex;
    height: 100%;
    align-items: center;
}
#report-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 10px;
    max-width: 1200px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
}

.report-panel {
    display: grid;
    grid-template-rows: 0.75fr 5fr;
    width: 100%;
    /* flex-basis: 16vh; */
    background-color:rgb(240, 240, 240);
    border: 2px solid black;
}

.report-table-header {
    display: flex;
    /* height: 3vh; */
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 220, 220);
    border-bottom: 1px solid black;
}

.report-table-body-long {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 0.8rem 0.8rem 1rem 1fr;
    height: 100%;
    /* height: calc(100% - 3vh); */
}

.box-header {
    display: flex;
    background-color:rgb(240, 240, 240);
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 0.8rem;
    font-weight: bold;
}

.box-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    background-color:rgb(240, 240, 240);
    border: 1px solid black;
}

.box-number {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    background-color:aliceblue;
    border: 1px solid black;
    font-size: 0.8rem;
}

.box-content-value {
    margin-top: auto;
    padding-bottom: 7px;
    text-align: center;
    vertical-align: middle;
    background-color: aliceblue;
    border-top: 1px solid black;
}

.box-content-title {
    font-size: 0.8rem;
}

.box-content-subscript {
    font-size: 8pt;
    height: 8pt;
}
