#report-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.report-panel {
    width: 100%;
    flex-basis: 16vh;
    background-color: beige;
    border: 2px solid black;
}

.report-table-header {
    width: 100%;
    height: 3vh;
    text-align: center;
    background-color: darkgray;
    border-bottom: 1px solid black;
}

.report-table-body-long {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1.2rem 1.2rem 1.2rem 1fr;
    height: calc(100% - 3vh);
}

.box-header {
    display: flex;
    background-color: rgb(214, 214, 214);
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.box-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    background-color:rgb(240, 240, 240);
    border: 1px solid black;
}

.box-number {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    background-color:aliceblue;
    border: 1px solid black;
}

.box-content-value {
    margin-top: auto;
    padding-bottom: 7px;
    text-align: center;
    vertical-align: middle;
    background-color: aliceblue;
}

.box-content-title {
    font-size: 10pt;
}

.box-content-subscript {
    font-size: 8pt;
    height: 8pt;
}
