#roughbark-reservoir-header {
    grid-column: 6 / 9;
    grid-row: 1 / 3;
}

#rafferty-reservoir-header {
    grid-column: 9 / 12;
    grid-row: 1 / 3;
}

/* Nickle reservoir */
#nickle-reservoir-header {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
}

#box-14-header {
    grid-column: 1;
    grid-row: 3;
}

#box-15-header {
    grid-column: 2;
    grid-row: 3;
}

#box-16-header {
    grid-column: 3;
    grid-row: 3;
}

#box-17-header {
    grid-column: 4;
    grid-row: 3;
}

#box-14-container {
    grid-column: 1;
    grid-row: 4;
}

#box-15-container {
    grid-column: 2;
    grid-row: 4;
}

#box-16-container {
    grid-column: 3;
    grid-row: 4;
}

#box-17-container {
    grid-column: 4;
    grid-row: 4;
}

/* box 18 */
#box-18-header {
    grid-column: 5;
    grid-row: 1 / 4;
}

#box-18-container {
    grid-column: 5;
    grid-row: 4;
}

/* Roughbark reservoir */
#box-19-header {
    grid-column: 6;
    grid-row: 3;
}

#box-20-header {
    grid-column: 7;
    grid-row: 3;
}

#box-21-header {
    grid-column: 8;
    grid-row: 3;
}

#box-19-container {
    grid-column: 6;
    grid-row: 4;
}

#box-20-container {
    grid-column: 7;
    grid-row: 4;
}

#box-21-container {
    grid-column: 8;
    grid-row: 4;
}

/* Rafferty reservoir */
#box-22-header {
    grid-column: 9;
    grid-row: 3;
}

#box-23-header {
    grid-column: 10;
    grid-row: 3;
}

#box-24-header {
    grid-column: 11;
    grid-row: 3;
}

#box-22-container {
    grid-column: 9;
    grid-row: 4;
}

#box-23-container {
    grid-column: 10;
    grid-row: 4;
}

#box-24-container {
    grid-column: 11;
    grid-row: 4;
}

/* boxes 25 - 26 */
#box-25-header {
    grid-column: 12;
    grid-row: 1 / 4;
}

#box-26-header {
    grid-column: 13;
    grid-row: 1 / 4;
}

#box-25-container {
    grid-column: 12;
    grid-row: 4;
}

#box-26-container {
    grid-column: 13;
    grid-row: 4;
}